<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f67ad">  <td>19/11/27 15:33:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LongestPlateauTest.initTestArray()[pri:0, instance:com.epam.games.LongestPlateauTest@3967e60c]">&gt;&gt;initTestArray</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7f67ad">  <td>19/11/27 15:33:11</td>   <td>2452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LongestPlateauTest.testFindByFindable()[pri:0, instance:com.epam.games.LongestPlateauTest@3967e60c]">testFindByFindable</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="7f67ad">  <td>19/11/27 15:33:11</td>   <td>2486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LongestPlateauTest.testFindPlateau()[pri:0, instance:com.epam.games.LongestPlateauTest@3967e60c]">testFindPlateau</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2502</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MinesweeperTest.initData()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">&gt;&gt;initData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testCountNeighbourMines()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testCountNeighbourMines</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testFillField()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testFillField</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testFillField()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testFillField</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testFillField()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testFillField</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testFillField()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testFillField</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testFillField()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testFillField</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testGetInt()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testGetInt</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="857891">  <td>19/11/27 15:33:11</td>   <td>2543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinesweeperTest.testGetSolution()[pri:0, instance:com.epam.games.MinesweeperTest@60d8c9b7]">testGetSolution</td> 
  <td>main@128359175</td>   <td></td> </tr>
</table>
